.boardview{
    border: 1px solid #E3E3E3;
    text-align:left;
    width:780px;
    height:95.6px;
    padding-top:10x;
    padding-left:15px;
    color: gray;
}

.title{
    color:black;
    padding-bottom:11px;
    font-weight: bold;
    font-size:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    padding-bottom:5px;
    font-size:14px;    
}
.author{
    color:black;
}

.time{
    font-size:14px;
    color: gray;
}

.boardTitle{
    border:1px solid #E3E3E3;
    font-weight:bold;
    font-size:20px;
    height:30px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    margin-top:17px;
    margin-bottom:5px;
}

.Button-Text{
    cursor: pointer;
    color: gray;
    font-size:12px;
    margin-left:auto;
    margin-right:15px;
}

.Button-container{
    display:flex;
    gap: 10px;
    justify-content: center;
}

.modifyButton{
    border: 1px solid #A60406;
    border-radius: 5%;
    background-color: white;
    appearance: none;
    font-weight: bold;
    font-size:14px;
    color:#ca3d3f;
    height: 38px;
    width:120px;
    margin-left:5px;
    cursor:pointer;
}

.header{
    justify-content: center;
    display:flex;
    align-items: center;
}