.headerItems{
    border: 1px solid #D3D3D3;
    width:1140px;
    justify-content: center;
    display: flex;
    padding-top:20px;
}

.logoTitle{
    width:70px;
    font-size:13px;
    color: #A60406;
    font-weight:bold;
    margin-left: 20px;
}

.logoUniv{
    color: black;
    font-size: 23px;
    font-weight: normal;
    margin-left:-2px;
    margin-top:-5px;
}

.headerTitle{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}

.headerLink{
    cursor:pointer;
    margin-right:20px;
    font-weight: bold;
    position: relative;
}   

.headerLink:hover{
    color:#A60406;
}

.headerLink:hover::after{
    content: "";
    position:absolute;
    bottom: -33px;
    left: 0;
    width: 100%;
    height: 4px; 
    background-color: #A60406;
}

.imgCss{
    border: 1px solid #D3D3D3;
    border-radius: 30%;
}